**Importing Libraries** 📚

In [5]:
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

**Getting unique list of Artists Spotify id and name** 🎤

In [2]:
all_artists_df = pd.read_csv("old_artists.csv")
all_artists_df = all_artists_df[["id", "name"]]
all_artists_df.drop_duplicates(inplace = True)
all_artists_df

,id,name
0,0DheY5irMjBUeLybbCUEZ2,Armid & Amir Zare Pashai feat. Sara Rouzbehani
1,0DlhY15l3wsrnlfGio2bjU,ปูนา ภาวิณี
2,0DmRESX2JknGPQyO15yxg7,Sadaa
3,0DmhnbHjm1qw6NCYPeZNgJ,Tra'gruda
4,0Dn11fWM7vHQ3rinvWEl4E,Ioannis Panoutsopoulos
...,...,...
1162090,3cOzi726Iav1toV2LRVEjp,Ali Siddiq
1162091,6LogY6VMM3jgAE6fPzXeMl,Rodney Laney
1162092,19boQkDEIay9GaVAWkUhTa,Blake Wexler
1162093,5nvjpU3Y7L6Hpe54QuvDjy,Donnell Rawlings
1162094,2bP2cNhNBdKXHC6AnqgyVp,Gabe Kea

**Finding list of artists with only id and not name** 🔎

In [3]:
selected_artists_df = pd.read_csv("E:/Quera/Spotify_Project/Spotify_Data/track_info.csv")
selected_artists_list = selected_artists_df["artist_id"].drop_duplicates().tolist()
all_artists_list = all_artists_df["id"].drop_duplicates().tolist()

difference_list = [artist_id for artist_id in selected_artists_list if artist_id not in all_artists_list]

**Getting Artists Name** 💳

In [ ]:
new_artist_name = []

def get_artist_name(search_term):
    chrome_options = Options()
    chrome_options.add_argument("--lang=en-US")
    driver = webdriver.Chrome(options=chrome_options)
    driver.get(f"https://www.google.com/search?q={search_term}")
    
    try:
        artist_element = driver.find_element("class name", "LC20lb")
        artist_name = artist_element.text
    except Exception as e:
        artist_name = None
    
    driver.quit()
    return artist_name

for i in difference_list:
    search_term = i
    artist_name = get_artist_name(search_term)
    new_artist_name += [artist_name]

In [47]:
data_dict = {"artist_id": difference_list, "artist_name": new_artist_name}
df = pd.DataFrame(data_dict)

**Gathering all artists data together** 🖇

In [48]:
selected_artists_df = selected_artists_df[["artist_id"]]
selected_artists_df = selected_artists_df.drop_duplicates()
selected_artists_df

                    artist_id
0      3vQ0GE3mI0dAaxIMYe5g7z
1      69GGBxA162lTqCwzJG5jLp
2      6LqNN22kT3074XbTVUrhzX
3      7jy3rLJdDQY21OgRLCZ9sD
4      6XyY86QOPPrYVGvF9ch6wz
...                       ...
11384  03bvsls9hsCdD0949sQwPB
11385  2xbV452k0SC2JZJDtm7mqK
11386  02VPWD8AZ7qSuug0dM4Hk1
11387  6iO8XIJSAfUwu0qEPybbN7
11388  36Hd8M3GV2FLpHUEDH6bCz

[11389 rows x 1 columns]

In [49]:
selected_artists_df = selected_artists_df.merge(all_artists_df, left_on = "artist_id", right_on = "id", how = "left")
selected_artists_df.drop(columns = ["id"], inplace = True)
selected_artists_df.rename(columns = {"name": "artist_name"}, inplace = True)
selected_artists_df

                    artist_id       artist_name
0      3vQ0GE3mI0dAaxIMYe5g7z      Paulo Londra
1      69GGBxA162lTqCwzJG5jLp  The Chainsmokers
2      6LqNN22kT3074XbTVUrhzX             Kesha
3      7jy3rLJdDQY21OgRLCZ9sD      Foo Fighters
4      6XyY86QOPPrYVGvF9ch6wz       Linkin Park
...                       ...               ...
11384  03bvsls9hsCdD0949sQwPB     CHING G SQUAD
11385  2xbV452k0SC2JZJDtm7mqK           那吾克熱-NW
11386  02VPWD8AZ7qSuug0dM4Hk1         Chris Lee
11387  6iO8XIJSAfUwu0qEPybbN7               張赫宣
11388  36Hd8M3GV2FLpHUEDH6bCz               ONE

[11389 rows x 2 columns]

In [50]:
output_df = df
final_artists_df = selected_artists_df
final_artists_df.dropna(subset = ["artist_name"], inplace = True)
final_artists_df

                    artist_id       artist_name
0      3vQ0GE3mI0dAaxIMYe5g7z      Paulo Londra
1      69GGBxA162lTqCwzJG5jLp  The Chainsmokers
2      6LqNN22kT3074XbTVUrhzX             Kesha
3      7jy3rLJdDQY21OgRLCZ9sD      Foo Fighters
4      6XyY86QOPPrYVGvF9ch6wz       Linkin Park
...                       ...               ...
11384  03bvsls9hsCdD0949sQwPB     CHING G SQUAD
11385  2xbV452k0SC2JZJDtm7mqK           那吾克熱-NW
11386  02VPWD8AZ7qSuug0dM4Hk1         Chris Lee
11387  6iO8XIJSAfUwu0qEPybbN7               張赫宣
11388  36Hd8M3GV2FLpHUEDH6bCz               ONE

[10445 rows x 2 columns]

In [51]:
combined_df = pd.concat([final_artists_df, output_df])
combined_df.to_csv("artists.csv", index = False)